.header{
    width: 100%;
    background-color: #F7F7FF;
    height: 100vh;
}

.header-box{
    display: flex;
    justify-content: space-between;
}

.header-right{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
}

.header-subtext {
    width: 440px;
    font-size: 56px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.011em;
    text-align: left;

}

.header-text {
    padding: 30px 0px;
    width: 450px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.011em;
    text-align: left;

}

.header-link {

    width: 254px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673AB7;
    color: #fff;
    border-radius: 8px;
    transition: 0.1s;
}

.header-link:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #673AB7;
    color: #673AB7;
    border-radius: 8px;
    background-color: #fff;
}

.header-title{
    padding-top: 40px;

}

.header-img{
    padding-top: 20px;
}

