.section{
    width: 100%;
    /* background-color: #F7F7FF; */
}

.section-box{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.section-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-subtext{
    padding: 20px 0px;
    font-size: 40px;
}

.section-text{
    font-size: 18px;
    padding: 20px 0px;
    width: 540px;
}


.section-ellipse{
    width: 716;
    height: 723px;
}

.section-img-box{
    position: relative;
}

.section-png{
    position: absolute;
}

.MicStore{
    top: 8%;
    left: 15%;
}

.mailru{
    top: 7%;
    left: 65%;
}

.twitter{
    top: 29%;
    left: 48%;
}

.mastercard{
    top: 45%;
    left: 10%;
}

.shut{
    top: 58%;
    left: 40%;
}

.spotify{
    top: 60%;
    left: 80%;
}

.sber{
    left: 25%;
    top: 70%;  
}